[Unit]
Description=FredBoat
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/Rg2901/fredboat
ExecStart=/usr/bin/java -jar FredBoat.jar
Restart=always

[Install]
WantedBy=multi-user.target
